@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.stylea {
    border-color: #0967d219;
    border-style: solid;
    border-width: 4px;
    padding: 10px;
}

.styleb {
    width: 181px;
}

.stylec {
    font-size: 20px;
    color: #323f4b;
}

.styled {
    border-radius: 10px;
    background-color: #0967d2;
    border-style: none;
    padding: 6px;
    color: #ffffff;
    font-size: 14px;
    width: 100px;
}

.stylee {
    padding: 10px;
    width: 125px;
}

.stylef {
    background-color: #0967d219;
    border-radius: 8px;
    padding: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.styleg {
    width: 75px;
    height: 75px;
    padding: 10px;
}

.styleh {
    font-size: 18px;
    color: #323f4b;
}

.stylei {
    font-size: 12px;
    color: #323f4b;
    font-weight: 500;
}

.stylej {
    font-size: 16px;
    color: #323f4b;
    margin-top: 10px;
    margin-bottom: 18px;
}

.stylel {
    border-radius: 8px;
    background-color: #3ebd93;
    padding: 6px;
    margin: 8px;
}

.stylem {
    color: #ffffff;
    width: 60px;
    padding-bottom: 0px;
}

.stylen {
    color: #ffffff;
    font-size: 10px;
}

.styleo {
    border-radius: 8px;
    background-color: #e668a7;
    padding: 6px;
    margin: 10px;
    padding-bottom: 0px;
}

.stylep {
    border-radius: 8px;
    background-color: #a368fc;
    padding: 6px;
    margin: 8px;
}

.styleq {
    background-color: #e12d3919;
    border-radius: 12px;
    padding: 9px;
}

.styler {
    width: 75px;
    height: 60px;
    padding: 9px;
}

.stylet {
    font-size: 16px;
    color: #323f4b
}